* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #FDC4C6;
}

.header {
    padding: 20px;
    font-family: cursive;
    background-color: #F69399;
    color:floralwhite;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.header h1 {
    display: inline-block;
    font-size: 48px;
}



.navbar {
    padding-top: 15px;
    margin-right: 20px;
    font-family: cursive;
    
    display: flex;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

.navbar-li {
    display: flex;
    margin-left: 25px;
    font-size: 30px;
}

.navbar-li a {
    color:floralwhite;

}

a {
    text-decoration: none;
}

p {
    font-size: 23px;
}

.h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sample-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
     width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.main-p {
    padding: 10px;
    margin-top: 10px;
    width: 55%;
}

.h2 {
    color: #000;
}

.content img {
    max-width:200px; 
}

.article-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F69399;
    color: black;
}

.img-size{
    width: 200px;
    height:  200px;
}

.large-photo{
    width: 100%;
}

.contact-h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-me {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: cursive;
    text-align:center;
}

.footer h2 {
    font-size: 30px;
}